services:
  my_ws:
    image: 10.233.0.132:8000/hdm/aiserver-cu12.4-nomachine:1.0
    cap_add:
      - SYS_PTRACE
      - SYS_ADMIN
    deploy:
      resources:
        limits:
          cpus: '8'
          memory: 32G
        reservations:
          memory: 256M
          devices:
            - driver: nvidia
              device_ids: ["0"]
              capabilities: [gpu]
    environment:
      - REMOTE_DESKTOP=nomachine
      - USER=ubuntu
      - PASSWORD=ubuntu
      - ROOTPASSWORD=mypassword
    volumes:
      - data:/home/ubuntu
    ports:
      - 14000:4000
    shm_size: "32gb"
    restart: on-failure

volumes:
  data:
    driver: local